@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Hairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-HairlineIt.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-ThinIt.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-LightIt.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-RegularIt.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-MediumIt.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-SemiboldIt.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-BoldIt.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-BlackIt.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

/* Stili globali */
body {
  margin: 1.5rem;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: black;
  cursor: none; /* Rimuoviamo il cursore di default */
  font-family: "Suisse Int'l";
  transition: background-color 0.3s, color 0.3s;
}


/* Contenitore principale */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 1.5rem); /* 100% dell'altezza della finestra meno i margini del body */
  padding-bottom: 50px; /* Aggiunge spazio per il footer */
  }
/* Il contenuto principale si espande per occupare tutto lo spazio disponibile */
.main-content {
  flex: 1;
}


/* Tema chiaro */
body.light-mode {
  background-color: white;
  color: black;
}

body::after {
  content: '';
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0F0;
  pointer-events: none;
  transition: transform 0.1s ease;
  mix-blend-mode: exclusion;
}

body:hover::after {
  top: calc(var(--mouse-y) - 15px);
  left: calc(var(--mouse-x) - 15px);
}

/* Contenitore nav */
.nav {
  display: grid;
  column-gap: 20px;
  row-gap: 0px;
  align-items: center;
  background-color: black;
  height: 65px;  /*Altezza della barra */
  z-index: 1000; /* Porta la barra di navigazione al livello più alto */
  width: 100%; /* Occupa tutta la larghezza dello schermo */
  top: 0; /* Mantiene la barra in alto */
  position: fixed; /* Cambiato da sticky a fixed */
}

/* Stile generale per gli elementi di navigazione */
.nav a,
.nav span {
  color: #ffffff;
  font-family: "Suisse Int'l";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-decoration-line: none;
  text-transform: none;
}

.nav span {
  color: #0F0;
}

.nav a:hover {
  text-decoration-line: underline;
  color: #0F0;
}

.project-link {
  color: #FF6347;
}

.nav a:nth-child(1) {
  grid-column: span 2;
}

.nav a:nth-child(2) {
  grid-column: span 2;
}

.nav a:nth-child(3) {
  grid-column: span 2;
}

.nav a:nth-child(4) {
  grid-column: 16;
}

.nav a:nth-child(5) {
  grid-column: 12;
}

#roberta-valli-link-nav {
  color: #0F0;
  text-decoration: underline;
}

#about-link-nav {
  color: #0F0;
  text-decoration: underline;
}

#project-link-nav {
  color: #0F0;
  text-decoration: underline;
}

.header {
  margin-top: 100px;
  margin-bottom: 100px;
}
.header-about {
  margin-top: 80px;
  margin-bottom: 80px;
}

.frase-intro {
  color: #FFF;
  font-family: "Suisse Int'l";
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

#hello {
  margin-bottom: -20px;
  transition: opacity 0.5s ease-in-out;
}

@keyframes changeLanguage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h1 {
  margin: 0;
  padding: 0;
}

.title-section, 
.title-section-about,
.project-title-collection,
.single-project-title {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  text-decoration: none; /* Rimuove la sottolineatura */

}



a {
  text-decoration: none; /* Rimuove la sottolineatura */
  color: inherit; /* Eredita il colore dal testo */
}

a:visited {
  color: inherit; /* Impedisce che il link cambi colore dopo essere stato visitato */
}

/* Stile per il link quando il mouse è sopra (hover) */
a:hover {
  text-decoration: none; /* Rende il link sottolineato al passaggio del mouse */
  color: #0F0; /* Puoi scegliere un colore personalizzato */
}

/* Rimuovi la sottolineatura e il viola sotto specifici elementi */
.project-title-collection a,
.project-description-collection a {
  text-decoration: none; /* Rimuove la sottolineatura */
  color: inherit; /* Mantieni il colore del testo */
}

.project-title-collection a:hover,
.project-description-collection a:hover {
  text-decoration: none; /* Aggiunge sottolineatura solo su hover */
  color: #0F0; /* Colore hover verde */
}

/* modifica titolo collezione*/
.project-title-collection {
  color: #ff0000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
  text-decoration: none; /* Rimuove la sottolineatura */
  color: inherit; /* Eredita il colore del testo normale, per evitare il viola */
  text-decoration: none; /* Rimuove la sottolineatura */


}

.project-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.box-project-collection {
  grid-column: span 6;
  margin-bottom: 30px;
}



.project-description-collection {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none; /* Rimuove la sottolineatura */
  color: inherit; /* Eredita il colore del testo normale, per evitare il viola */
}

.project-section img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.preview-project {
  margin-bottom: 100px;
}

/* about pagina*/
.frase-about{
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 52px; /* 130% */
}

.grid-container-about{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.section-education{
  grid-column: 7 / 10; /* Dalla colonna 8 alla colonna 10 (esclusa la 10) */
}

.section-work {
  grid-column: 10 / 14; /* Dalla colonna 8 alla colonna 10 (esclusa la 10) */

}

.text-section-about{
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 140%;
margin-top: 20px;
margin-bottom: 20px;
}

/* Sezione progetti singoli */
.container-single-project {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 colonne */
  column-gap: 20px;
  row-gap: 20px;
}

.container-single-project-description {
  grid-column: 1 / 5;
  position: sticky; /* Questo farà sì che la descrizione resti visibile durante lo scroll */
  top: 0; /* Fissa la descrizione in alto */
  z-index: 10; /* Assicurati che sia sopra la galleria */
  padding-bottom: 20px; /* Distanza tra la descrizione e la galleria */
}



.container-single-project-gallery {
  grid-column: 6 / 13; /* Posizionamento nella griglia */
  display: flex;
  flex-direction: column; /* Allineamento verticale */
  row-gap: 20px; /* Spazio tra le righe */
  max-height: 70vh; /* Limita l'altezza della galleria */
  overflow-y: auto; /* Scroll verticale */
  padding-right: 10px; /* Spazio a destra */
}

.container-single-project-gallery img {
  width: 100%; /* Adatta la larghezza al contenitore */
  height: auto; /* Mantieni proporzioni */
  display: block; /* Evita sovrapposizioni */
  top: 0;
}


.container-single-project-gallery img:first-child {
  position: sticky; /* Rende la prima immagine "fissa" durante lo scroll */
  top: 0; /* La fissa in cima al contenitore */
  z-index: 10; /* Assicura che la prima immagine stia sopra alle altre */
}



.single-project-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.single-project-text {
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}




/* footer */
.footer {
  margin-top: 50px; /* Aggiunge uno spazio sopra il footer */
  height: 50px;
  text-align: center; /* Allinea il contenuto al centro */
  text-align: center;
  background-color: black; /* Colore di sfondo */
  position: fixed; /* Rende il footer fisso */
  bottom: 0; /* Fissa il footer nella parte inferiore */
  left: 0; /* Allinea il footer a sinistra */
  width: 100%; /* Assicura che occupi tutta la larghezza */
  z-index: 1000; /* Porta il footer sopra gli altri elementi */
  display: flex; /* Utilizza Flexbox per l'allineamento */
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  border-top: 1px solid white; /* Filetto bianco in alto */

}

.footer-text {
  color: #FFF; 
  font-size: 12px; 
  font-style: normal; 
  font-weight: 400;
  line-height: normal; 
  background-color: black; /* Colore di sfondo */
  margin-top: 0px;
  margin-bottom: 0px;
}



/* Tema chiaro */
            body.light-mode {
              background-color: white;
              color: black;
            }
            body.light-mode .footer-line {
              background-color: black; /* Colore nero in modalità chiara */
            }

            body.light-mode .nav a,
            body.light-mode .nav span,
            body.light-mode .frase-intro,
            body.light-mode .project-title-collection,
            body.light-mode .title-section,
            body.light-mode .footer-text,
            body.light-mode .title-section-about,
            body.light-mode .project-description-collection {
              color: black;  /* Imposta il colore del testo in modalità chiara */
            }

            /* Tema scuro (default) */
            body {
              background-color: black;
              color: white;
            }

            body .nav a,
            body .nav span,
            body .frase-intro,
            body .project-title-collection,
            body .project-description-collection {
              color: white; /* Imposta il colore del testo in modalità scura */
            }

            body:hover::after {
              top: calc(var(--mouse-y) - 15px);
              left: calc(var(--mouse-x) - 15px);
            }

            .nav a:hover {
              color: #0F0;  /* Cambia il colore del testo al passaggio del mouse */
              text-decoration-line: underline;
            }
            
            .project-link {
              color: #FF6347;
            }

            /* Rendi il colore dei testi esplicito anche per gli elementi specifici */
            #roberta-valli-link-nav,
            #about-link-nav,
            #project-link-nav {
              color: #0F0;
              text-decoration: underline;
            }



/* Responsività per schermi più piccoli */
@media (max-width: 1200px) {
  .nav {
    grid-template-columns: repeat(6, 1fr);
  }

  #roberta-valli {
    grid-column: span 3;
  }

  .nav a:nth-child(2) {
    grid-column: span 2;
  }

  .nav a:nth-child(3) {
    grid-column: span 2;
  }

  .nav a:nth-child(4) {
    grid-column: span 2;
  }

  .nav a:nth-child(5) {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .nav {
    grid-template-columns: repeat(3, 1fr);
  }

  #roberta-valli {
    grid-column: span 3;
  }

  .nav a:nth-child(2),
  .nav a:nth-child(3) {
    grid-column: span 3;
  }

  .nav a:nth-child(4),
  .nav a:nth-child(5) {
    grid-column: span 3;
  }
}

@media (max-width: 480px) {
  .nav {
    grid-template-columns: 1fr;
  }

  #roberta-valli {
    grid-column: span 1;
  }

  .nav a {
    grid-column: span 1;
  }
}
