@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Hairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-HairlineIt.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-ThinIt.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-LightIt.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-RegularIt.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-MediumIt.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-SemiboldIt.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-BoldIt.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/assets/font/SuisseIntl-FreeTrial/Web/WOFF2/SuisseIntlTrial-BlackIt.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

body {
  margin: 1.5rem;
  margin-bottom: 0rem;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: black;
  cursor: none; 
  font-family: "Suisse Int'l";
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 1.5rem); 
  }
.main-content {
  flex: 1;
}


body.light-mode {
  background-color: white;
  color: black;
}

body::after {
  content: '';
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0F0;
  pointer-events: none;
  transition: transform 0.1s ease;
  mix-blend-mode: exclusion;
  z-index: 9999; 
}

body:hover::after {
  top: calc(var(--mouse-y) - 15px);
  left: calc(var(--mouse-x) - 15px);
}

.nav {
  background-color: #000;
  display: grid;
  column-gap: 20px;
  row-gap: 0px;
  align-items: center;
  height: 50px;
  z-index: 1000;
  width: 100%;
  top: 0;
  position: fixed;
  color: white;
}

.nav a,
.nav span {
  color: #ffffff;
  font-family: "Suisse Int'l";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-decoration-line: none;
  text-transform: none;
  opacity: 1;
}

.nav span {
  color: #0F0;
}

.nav a:hover {
  text-decoration-line: underline;
  color: #0F0;
}

.project-link {
  color: #FF6347;
}

.nav a:nth-child(1) {
  grid-column: span 2;
}

.nav a:nth-child(2) {
  grid-column: span 2;
}

.nav a:nth-child(3) {
  grid-column: span 2;
}

.nav a:nth-child(4) {
  grid-column: 16;
}

.nav a:nth-child(5) {
  grid-column: 12;
}

#roberta-valli-link-nav {
  color: #0F0;
  text-decoration: underline;
}

#about-link-nav {
  color: #0F0;
  text-decoration: underline;
}

#project-link-nav {
  color: #0F0;
  text-decoration: underline;
}

.header {
  margin-top: 130px;
  margin-bottom: 100px;
}
.header-about {
  margin-top: 130px;
  margin-bottom: 70px;
}

.frase-intro {
  color: #FFF;
  font-family: "Suisse Int'l";
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

#hello {
  margin-bottom: -20px;
  transition: opacity 0.5s ease-in-out;
}


@keyframes changeLanguage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h1 {
  margin: 0;
  padding: 0;
}

.title-section, 
.title-section-about {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none; 

}


a {
  text-decoration: none; 
  color: inherit; 
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none; 
  color: #0F0; 
}

/* Rimuovi la sottolineatura e il viola sotto specifici elementi */
.project-title-collection a,
.project-description-collection a {
  text-decoration: none; 
  color: inherit; 
}

.project-title-collection a:hover,
.project-description-collection a:hover {
  text-decoration: none; 
  color: #0F0; 
}

/* modifica titolo collezione*/
.project-title-collection {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
  text-decoration: none; 
  color: inherit; 
  text-decoration: none; 


}

.project-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.box-project-collection {
  grid-column: span 6;
  margin-bottom: 40px;
}



.project-description-collection {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  text-decoration: none; 
  color: inherit; 
}

.project-section img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.preview-project {
  margin-bottom: 100px; 
}


.preview-project img:hover {
  border: 2px solid white; 
  transform: scale(1.05); 
  filter: blur(100px); 
}

/* about pagina*/
.frase-about{
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 120%;
}

.grid-container-about{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.section-education{
  grid-column: 7 / 10; 
}

.section-work {
  grid-column: 10 / 14; 

}

.text-section-about{
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin-top: 20px;
margin-bottom: 20px;
}

/* Sezione progetti singoli */
.container-single-project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 50px; 
  
}

.container-single-project-description {
  grid-column: 1 / 5;
  position: sticky; 
  top: 0; 
  z-index: 10; 
  padding-bottom: 20px; 
}



.container-single-project-gallery {
  grid-column: 6 / 13; 
  display: flex;
  flex-direction: column; 
  row-gap: 20px;
  /* max-height: 70vh; Limita l'altezza della galleria */
  padding-right: 10px; 
  overflow-y: auto; 

}

.container-single-project-gallery img {
  width: 100%; 
  height: auto; 
  display: block; 
  top: 0;
}

.container-single-project-description {
  grid-column: 1 / 5;
  position: sticky;
  top: 50px; 
  z-index: 10;
  padding-bottom: 20px; 
  max-height: calc(100vh - 50px); 
  overflow-y: auto; 
}

.preview-image {
  width: 100%; 
  height: auto; 
  display: block; 
  top: 0;
  transition: border 0.3s ease, transform 0.3s ease; 
  border: 2px solid transparent; 
}

.container-single-project-gallery img:first-child {
  position: sticky; 
  top: 0; 
  z-index: 10;

}



.single-project-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


.single-project-text {
margin-top: 20px;
font-size: 14px;
font-weight: 400;
line-height: 160%;
letter-spacing: 0.5px;
margin-bottom: 20px;
}


.single-project-anno,
.single-project-committente,
.single-project-categoria {
font-size: 14px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.5px;
}



/* footer */
.footer {
  margin-top: 50px; 
  height: 30px;
  text-align: center; 
  text-align: center;
  background-color: black; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  border-top: 0.5px solid rgb(164, 164, 164); 
bottom: 0;
}

.footer-text {
  color: #FFF; 
  font-size: 9px; 
  font-weight: 200;
  line-height: normal; 
  background-color: black; 
  margin-top: 0px;
  margin-bottom: 0px;
letter-spacing: 0.5px;
}


/* Tema scuro (default) */
body {
  background-color: black;
  color: white;
}

body .nav, body .footer, body .project-title-collection, body .project-description-collection, body .frase-intro, body .single-project-title, body .single-project-text {
  color: white; 
}

body .footer-text{
  color:  rgb(206, 206, 206); 
}

/* body .nav {
  background-color: black; /* Colore di sfondo della nav 
} */

body .footer {
  background-color: black; 
}
/* tema chiaro  */
body.light-mode {
  background-color: white;
  color: black;
}

body.light-mode .nav, 
body.light-mode .footer, 
body.light-mode .project-title-collection, 
body.light-mode .project-description-collection, 
body.light-mode .frase-intro, 
body.light-mode .single-project-title, 
body.light-mode .single-project-text, 
body.light-mode .footer-text {
  color: black; 
  background-color: white;  
}

body.light-mode .footer {
  border-top: 1px solid black;  
}

body.light-mode .nav {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgb(255, 255, 255); 
}

body.light-mode .nav a,
body.light-mode .nav span {
  color: rgb(0, 0, 0); 
}

body.light-mode .nav a:hover,
body.light-mode .nav span:hover {
  color: rgb(32, 241, 0); 
}

body.light-mode #roberta-valli-link-nav, body.light-mode #about-link-nav, 
body.light-mode #project-link-nav  {
  color: rgb(32, 241, 0); 
  text-decoration: underline;
}


body.light-mode .project-title-collection,
body.light-mode .project-description-collection {
  color: black; 
}

body.light-mode .project-link {
  color: #000000; 
}

body.light-mode .project-description-collection a:hover {
  color: rgb(0, 255, 0);  
}


body.light-mode .title-section-about {
  color: #000000; 
}
    

